*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    width: 100%;
    height: auto;
    left: -2;
    gap: 80px;
}
.top-nav{
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-logo{
    width: 28px;
    height: 30px;
    background-image: url("Mask\ Group.png");
    background-size: cover;
    margin-right: 5px;
}
.food{
    font-size: 25px;
    color: rgb(255, 55, 0);
}
.wagon{
    font-size: 25px;
    color: orange;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 3px;
}
#address-icon{
    color: orange;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#search-icon{
    color: orange;
}
#user{
    color: #ffae00;
    padding-right: 5px;
}
.Login{
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 0px 5px 10px #ffae00,0px 5px 10px #ffae00 ;
    border-radius: 5px;
}
@media (max-width:780px) {
    .location{
        display: none;
    }
    
}
@media (max-width:400px) {
    .food-search{
        display: none;
    }
    .search{
        gap: 25px;
    }
    
}
@media (max-width:320px) {
    #search-icon{
        display: none;
    }
    .logo{
        padding-left: 0px;
    }
    .Login{
        width: 50px;
        height: 25px;
    }
    
}
.header-img{
    width: 377px;
    height: 377px;
    border-radius: 50%;  
    position: absolute;
    overflow: hidden;
    background-blend-mode: multiply;
    left: 1250px;
    top: 280px;
}
.img-layer{
    width: 497px;
    height: 397px;
    background-image: url("Image.png");
    background-size: cover;
    background-position: right;
    position: relative;
    top: -55px;
    left: -65px;
}
.second-nav{
    width: 100%;
    height: 620px;
    background-image: url("img-2.jpg");
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 76px;
}
.header-2{
    position: relative;
    gap: 40px;
}
.search-info{
    width: 856px;
    height: 355px;
    position: relative;
    top: 172px;
    left: 220px;
    gap: 32px;
    z-index: 2;
    line-height: 60px; 
}
hr{
    position: relative;
    bottom: 15px;
    opacity: 0.2;
}
h1{
    color: white;
    font-size: 50px;
}
.food-delivery{
    background-color: white;
    width: 856px;
    height: 197px;
    padding: 20px;
    border-radius: 10px;
}

.food-search2{
    width: 808px;
    display: flex;
    margin-top: 10px;
    gap: 16px;
}
.enter-address{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding-left: 10px;
    gap: 15px;
    border-radius: 5px;
}
input{
    width: 593px;
    height: 60px;
    font-size: 18px;
    border: none;
    background-color: #f5f5f5;
}
.find-food{
    width: 199px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    background-image: linear-gradient(#ff7a7a 100%,#f65900 100%);
    border: none;
    border-radius: 5px;
    padding-right: 20px;
}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 148px;
    height: 38px;
    border: none;
    border-radius: 5px;
    color: #f17228;
    font-weight: 800;
    background-color: rgb(245, 234, 220);
}
.buttons{
    width: 856px;
    height: 86px;
    display: flex;
}
.deliver-icon{
    width: 27px;
    height: 18px;
    background-image: url("./delivery icon.png");
    background-size: cover;
}
.pickup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 148px;
    height: 38px;
    border: none;
    border-radius: 5px;
    font-weight: 800;
}
.pickup-icon{
    width: 16px;
    height: 18px;
    background-image: url("./pickup\ icon.png");
}
@media (max-width:1100px) {
     .search-info{
        top: 10%;
        left: 10%;
     }
     .second-nav{
        overflow: hidden;
        height: 488px;
     }
     .header-img{
        top: -5%;
     }
}

@media (max-width:670px) {
    .food-delivery{
        width: 300px;
    }
    input{
        width: auto;
    }
    .header-img{
        left: 10%;
        overflow: hidden;
    }
    .header-2{
        grid-template-columns: 1fr;
    }
}
@media (max-width:430px) {
    h1{
        font-size: 40px;
    }
}
@media (max-width:400px) {
      .header-img{
        width: 300px;
        height: 300px;
        top: 30px;
      }      
      .header-2{
        grid-template-columns: 350px;
      }
      .buttons{
        display: block;
      }
      .pickup{
        margin: 10px 0px;
      }
      .food-search2{
        display: block;
      }
      .food-delivery{
        width: 220px;
        padding: 10px 10px 10px 10px;
        height: auto;
      }
      .find-food{
        height: 30px;
      }
      .second-nav{
        height: 600px;
      }
     
}
@media (max-width:350px) {
    .search-info{
        left: 10%;
        width: 150px;
      }
      .second-nav{
        height: 700px;
      }
      .find-food{
        height: 30px;
      }
      .header-2{
        grid-template-columns: 250px;
      }
      input{
        width: 120px;
      }
      .enter-address{
        width: 180px;
        gap:5px;
        justify-content: flex-start;
      }
      .food-search2{
        gap: 5px;
      }
}
.hero-section{
   width: 100%;
   height: 415px;
   position: absolute;
   top: 800px;
}
.food-section{
    width: 100%;
    height: 415px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    column-gap: 10px; 
    row-gap: 20px; 
}
.img-section{
    width: 300px;
    height: 370px;
}
.img-1,.img-2,.img-3,.img-4{
    width: 300px;
    height: 301px;
    background-size: cover;
    border-radius: 10px
}
.img-1{
    background-image: url("img-3.jpg");
  
}
.img-4{
    background-image: url("img-4.jpg");
}
.img-footer{
    position: relative;
    top:87%;
}
.img-name{
    font-size: 20px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb30e;
    width: 75px;
    height: 50px;
    position: relative;
    top: 83.5%;
    font-size: 25px;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
sub{
    position: relative;
    top: 6%;
    font-size: 15px;
}
.days{
    width: 150px;
    height: 30px;
    font-size: 15px;
    color: rgba(241, 114, 40, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    margin-top: 5px;
    background-color: rgba(241, 114, 40, 0.2);
}
@media (max-width:770px) {
    .hero-section{
        padding: 2rem 5px 1rem 5px ;
    }
}
@media (max-width:640px) {
     .img-section{
        width: 200px;
        height: 270px;
       
     }
    .img-1,.img-2,.img-3,.img-4{
        width: 200px;
        height: 200px;
    }
    h2{
        top: 74.5%;
    }
    .img-footer{
        top: 80%;
    }
    .food-section{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
}
.food-work{
    width: 100%;
    height: 350px;
    margin: 5rem 0  0; 
    background-image: linear-gradient(to  bottom,rgba(255,206,103,0.1) 29%,rgba(253,237,202,0.2) 0%);
}
h4{
    text-align: center;
}
h3{
    font-size: 40px;
    text-align: center;
    color: #f17228;
}
.food-order{
    position: relative;
    top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.location-img{
    width: 370px;
    height: 240px;
    text-align: center;
}
.img-location{
    width: 86px;
    height: 112px;
    background-image: url("./images/Icon.png");
    background-size: cover;
    position: relative;
    left: 128px;
}
.choose-plan{
    opacity: 0.7;
    width: 250px;
    text-align: center;
    position: relative;
    top: 20px;
    left: 50px;
}

.img-order{
    width: 87px;
    height: 112px;
    background-image: url("./images/menu\ 2.png");
    background-size: cover;
    position: relative;
    left: 128px;
}
.choose-order,.choose-pay,.choose-meals{
    width: 370px;
    height: 240px;
    text-align: center;
}
.img-pay{
    width: 87px;
    height: 112px;
    background-image: url("./images/Invoice.png");
    background-size: cover;
    position: relative;
    left: 128px;
}
.img-meals{
    width: 89px;
    height: 112px;
    background-image: url("./images/donut\ 1.png");
    background-size: cover;
    position: relative;
    left: 110px;
}
/* populer items */
.populer-items{
    margin: 5rem 0 0 0;
}
.title{
    color: black;
    text-align: center;
}
.img-slide1{
    width: 76px;
    height: 76px;
    background-image: url("./images/Arrow\ Left.png");
    background-size: cover;
    border-radius: 92px;
    gap: 10px;  
}
.img-slide2{
    width: 76px;
    height: 76px;
    background-image: url("./images/Arrow\ Right.png");
    background-size: cover;
}
.slide-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 256px;
}