*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 21, 21, 0.299);
    background-image: url("https://images.gludy.com/photos/0/switzerland-rivers-valley-rocks-hd-wallpaper.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
.registor{
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    color: white;
    padding: 34px;
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    border: 2px solid white;
}
.username,.personal-info,.pass-word{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.input{
    width: 250px;
    height: 40px;
    color:white;
    background-color:transparent;
    outline: none;
    border-radius: 8px;
    padding: 0 0 0 8px;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid rgb(255, 252, 252);  
}
#Submit{
    width: 150px;
    height: 40px;
    background-color:crimson;
    color: rgba(255, 255, 255, 0.792);
    border-radius: 8px; 
    border: none; 
    font-weight: 700;
    font-size: 1rem;
}
#Submit:active{
    transform: scale(0.8);
}
input::placeholder{
    color: white;
}
@media (max-width:426px) {
    .input{
        width: 100%;
    }
}
