*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.amazon-logo{
    width: 140px;
    height: 40px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1IRNXk04_6QwSy9uFhAAG6RzqXqNnzyQf0g&s");
    background-size: cover;
}

.location{
    display: flex;
    justify-content:flex-start;
    gap: 1%;
    
}
.add-pera{
    padding-left: 5%;
}
.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    
}
select{
    width: 50px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
input{
    width: 300px;
    height: 40px;
}
#search-icon{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 153, 0);
    text-align: center;
    padding: 2%;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
p{
    opacity: 0.8;
}
.shopping{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#Cart{
  font-size: 40px; 
}
.navbar{
    height: 30px;
    display: flex;
    gap: 2%;
    align-items: center;
    background-color: rgba(2, 49, 53, 0.925);
}
.nav-ancors{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    
}
a{
    color: white;
    text-decoration: none;
     padding-left: 5px;
     padding-right: 5px;
}
a:hover{
    border: 1px solid white;
}
.bar{
    display: flex;
    align-items: center;
}
#bar-icon{
    color: white;
}
.hero-section{
    width: 100%;
    height: 600px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img18/HomeImprovement/harsmisc/2024/SmartHomeDays/HI_Under_499_PC_BAU_FDFO_3000._CB554158668_.jpg");
    background-size: cover;
    padding: 1% 0 0 1%;
}
.items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    padding-top: 17%;
    column-gap: 10px;
    row-gap: 30px;
    
}
.shop1,.shop2,.shop3,.shop4{
    width: 340px;
    height: 350px;
    background-color: white;
    padding: 4%;
    
}
h4{
    font-size: 20px;
}
.shop{
    width: 300px;
    height: 280px;
    background-size: cover;
}
.shop-item1{
    
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img19/Sports/GW_Desktop/1199101_379x304_Compressed._SY304_CB448278349_.jpg");
} 
.shop-item2{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img19/SiddMiniTV/DeskCC-379x304_CVHH_V1._SY304_CB555942623_.jpg");
}
.shop-item3{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/2023/GateWay/December/CC/PC_379x304_1._SY304_CB572341311_.jpg");
}
.shop-item4{
    margin-top: 6%;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img19/OOC/Gateway/wk_25/CC_379X304._SY304_CB555334734_.jpg");
}
.img-ancors{
    color: rgb(6, 118, 118);
}
.img-ancors:hover{
    color: rgb(226, 140, 103);
}
@media (min-height:1000px) {
    .hero-section{
        height: 500px;
    }
    .navbar{
        height: 50px;
    }
    
    
}