*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    background-color: rgb(228, 220, 220);
    padding: 0 40px 0 40px;
}
.head-top{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    position: relative;
}
#icon{
    color: rgb(255, 191, 0);
    font-size: 30px;
}

/* navbaar-1 */
.navbar{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    padding-left: 10%;
    padding-right: 5%;

}
.img-set{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 60px;
    
}
img{
    
    width: 50px;
    height: 50px;
}
h4{

    font-size: 20px;
}
a{  
    color: black;
    text-decoration: none;
}
.ancors{
   height: 60px;
   font-size: 10px;
   font-weight: 600;
   display: flex;
   justify-content:space-evenly;
   align-items: center; 
}
a:hover{
    color: blue;
}
button{
    margin-left: 8px;
    border-radius: 15px;
    width: 90px;
    background-color: white;
}
/* navbar-2 */
.search{
    width: 160px;
    height: 30px;
    font-style: italic;
}
/* navbar-3 */
.navbar-3{
    background-color: white;
    padding-left: 10%;
    padding-right: 5%;
}
.nav-head{
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.nav-use{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 5%;
}
.use{
    font-size: 10px;
    font-weight: 550px;

}
.icon{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    gap: 5%;
}
.box-3{
    display: flex;
}
.nav3-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hr{
    width: 3px;
    height: 10px;
    background-color: black;
}
.navbar-4{
    background-color: white;
    padding-left: 10%;
    padding-right: 5%;
}
.navbar-5{
   display: grid;
   grid-template-columns: repeat(3 ,1fr);
   background-color: white;
   padding-left: 10%;
   padding-right: 5%;
}
.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5%;
}
#ancors-5{
    justify-content: flex-start;
    gap: 6%;
}

#img-5{
    justify-content: flex-start;
}

.navbar-6{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    background-color: white;
    height: 60px;
}
#img-6{
    justify-content: center;
}
#ancors-6{
    justify-content: center;
    gap: 5%;
}
#ancors6{
    justify-content: center;
    gap: 5%;
}
.navbox{
    background-color: white;
    padding-left: 10%;
    padding-right: 5%;
}
.navbar-7{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.src{
   
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
#icon-7{
    justify-content: flex-start;
}
#img-7{
    justify-content: center;
}
#ancors-7{
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.nav-ancors{
   display: grid;
   grid-template-columns: 2fr 1fr;
   
}
.glass{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#ancors-8{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}
.navhead-8{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box-8{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.select{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
select{
    border: none;
}
.box1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-rows: repeat(2 1fr);
    column-gap: 10px;
    padding-top: 3%;
    padding-left: 2%;
}
.navbox-9{
    background-color: white;
}
.pera-2{
   padding-top: 2%;
}
h5{
    padding-top: 3%;
}
.airpods{
    width: 200px;
    height: 200px;
    background-image: url("https://m.media-amazon.com/images/I/71T3Hpy1+HL.jpg");
    background-size: cover;

}

.signin{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
}
#img-9{
    display: flex;
    justify-content: center;
}
.box-9{
    display: grid;
    grid-template-columns: 1fr;
}
.nav-10{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    column-gap: 5%;
}
.box10{
    background-color: rgb(12, 11, 11);
}
.pera{
    color: white;
    padding-top: 3%;
    text-align: justify;
    padding-left: 5%;
    height: 40px;
}
.pera:hover{
    background-color: black;
    border-left: 3px solid rgba(13, 162, 181, 0.758);
}
.bed-1{
    width: 200px;
    height: 180px;
    background-image: url("https://www.at-home.co.in/cdn/shop/products/Untitled-Untitled-20220730-171528.jpg?v=1659181891");
    background-size: cover;
}
.bed-2{
    width: 200px;
    height: 180px;
    background-image: url("https://www.furniselan.com/cdn/shop/products/baku-sheesham-wood-single-size-bed-656785_700x_crop_center.jpg?v=1679739702");
    background-size: cover;
}