*{
    box-sizing: border-box;
}
.Events{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
h3{
    text-align: center;
}
#box1, #btn1,#btn2,#btn3,#btn4,#box2,#box3{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem  0 0 0;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: darkcyan;
}
#box1:hover{
    background-color: dodgerblue;
}
.btns{
    width: 320px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
#btn1,#btn2,#btn3{
    height: 40px;
    font-size: 18px;   
}
#btn1{
    width: 120px;
    background-color: violet;
}
#btn2{
    width: 180px;
    background-color: rgba(20, 170, 220, 0.546);
}
#btn3{
    width: 180px;
    background-color: rgba(20, 220, 157, 0.546);
 
}
#btn4{
    width: 200px;
    height: auto;
    background-color: #f3b35d;
    font-size: 18px; 
}
#btn1:hover,#btn2:hover,#btn3:hover,#btn4:hover{
    background-color: rgba(220, 55, 160, 0.612);
}
#btn1:active,#btn2:active,#btn3:active{
    background-color: rgba(218, 61, 92, 0.737);
}
#btn4:active{
    background-color: rgba(218, 61, 92, 0.737);
}
#box2{
    width: 250px;
    height: 250px;
    background-color: darkmagenta;
}
#box3{
    width: 150px;
    height: 150px;
    background-color: aqua;
}
#form{
    width: 50%;
    height: 80vh;
    color: white;
    background: gray url("https://i.pinimg.com/236x/c2/48/bf/c248bf90e418a9a022026bfd1f3adbbb.jpg") no-repeat top right;
    background-size: cover;
    background-blend-mode:multiply;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputs{
   width: 400px;
   height: 500px;
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 8px;
   padding: 10px;
   font-size: 25px;
   outline-offset:10px;
   outline: 5px solid black;
}
input{
    width: 350px;
    height: 40px;
    border-radius: 5px;
}